langchain
langgraph
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain-ollama
langchain-groq
ipykernel
arxiv
wikipedia
langchain-tavily
langgraph-cli[inmem]
faiss-cpu